@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
*/

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.border {
    border: 1px solid #cccccc;
}

.btn {
    display: inline-flex;
    font-weight: 300;
    text-align: center;
    padding: 1.25rem, 1.75rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 1920px) {
    .container {
        max-width: 1410px;
    }
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}





/* navbar-top */
.navbar-top {
    display: none;
    padding: 1rem 0;
}

.navbar-top .border {
    opacity: 60%;
    border-bottom: 1px solid #707070;
}

.navbar-top .container {
    padding: 0;
}
@media (min-width: 768px) {
    .navbar-top {
        display: block;
    }
}

.office-hours {
    display: flex;
    align-items: center;
}

.office-hours i {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    color: #2BAAEC;
}

.office-hours p {
    margin: 0;
    font-size: 1.05rem;
}

.navbar-top ul  {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar-top ul li {
    margin-left: 1.3rem;
}

.navbar-top a {
    color: #2BAAEC;
    font-size: 1.1rem;
}

.navbar-top a:hover {
    color: #25E6C8;
}





/* Navbar-main*/
#navbar-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
}
@media (min-width: 768px){
    #navbar-main {
        padding-left: 0;
    }
}

#navbar-main .container .web-info {
    display: flex;
}

#navbar-main .logoimg {
    height: 50px;
}
@media (min-width: 768px) {
    #navbar-main .logoimg {
        height: 65px;
        
    }
}

#navbar-main .container {
    padding: 0;
}

#navbar-main li {
    list-style: none;
    margin-left: 1rem;
    justify-content: center;
    display: none;
}
@media (min-width: 768px){
    #navbar-main li {
        display: block;
    }
}

#navbar-main ul {
   
   justify-content: center;
   padding: 0;
   font-family: 'Roboto Slab', serif;
   font-size: 18px;
   display: flex;
}

#navbar-main .container .web-info ul li a {
    color: #363636;
    text-decoration: none;
}

#navbar-main .container .web-info ul li a:hover {
    color: #25E6C8;
}

#navbar-main .container .web-info button {
    font-size: 2.2rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
    
}
@media (min-width: 768px) {
    #navbar-main .container .web-info button {
        display: none;
    }
}





/* Showcase */
#showcase {
    background: #DEDEDE;
}

@media (min-width: 1200px) {
    #showcase .container {
        padding: 0;
    }
}

#showcase .text-info {
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
}
@media (min-width: 1200px) {
    #showcase .text-info {
        text-align: left;
        padding-top: 8rem;
        padding-left: 8rem;
        text-align: left;
    }
}

#showcase .text-info h1 {
    font-size: 34px;
    color: #363636;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
    line-height: 1.2;
}
@media (min-width: 1200px) {
    #showcase .text-info h1 {
        font-size: 60px;
        font-family: 'Roboto Slab', serif;
        line-height: 1.2;
    }
}

#showcase .text-info h2 {
    font-size: 16px ;
    color: #363636;
    font-weight: normal;
    padding-bottom: 1rem;
}
@media (min-width: 768px){
    #showcase .text-info h2 {
        font-size: 18px ;
    }
}

.info-btn:hover {
    background-color: #2BAAEC;
}

.info-btn {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    height: 55px;
    width: 200px;
    border-radius: 0.75rem;
    border: 1px transparent;
    background-color: #25E6C8;
}
@media (min-width: 768px){
    .info-btn {
        width: 236px;
        height: 60px;
    }
}

#showcase .container  {
    display: flex;
    justify-content: space-between;
}

#showcase .container .person-image {
    display: none;
}
@media (min-width: 1200px) {
    #showcase .container .person-image {
        display: block;
        padding-top: 1.375rem;
        margin-bottom: -7px;
        margin-left: -45px;
    }
}
@media (min-width: 1400px) {
    #showcase .container .person-image {
        padding-top: 2rem;
        margin-bottom: -7px;
    }
} 





/* About us */
#about-us  {
    margin-top: 5.3125rem;
}

@media (min-width:1200px) {
    #about-us .about-info  {
        margin-top: 2.5rem;
        padding-right: 15%;
    }
}

#about-us .container {
    display: flex;
    justify-content: space-between;
}
@media (min-width:1200px) {
    #about-us .container {
        padding: 0;
    }
}

#about-us .aboutus-border {
    border-bottom: 4px solid #25E6C8;
}

#about-us .about-info .summary-info h1 .blue {
    color: #2BAAEC;
}

#about-us .about-info .summary-info h1 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    color: #363636;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
}
@media (min-width:1200px) {
    #about-us .about-info .summary-info h1 {
        font-size: 40px;
        text-align: left;
        line-height: 1.2;
        margin-bottom: 1rem;
        width: 80%;
    }
}

#about-us .about-info .summary-info h2 {
    font-size: 16px ;
    color: #626262;
    font-weight: normal;
    padding-top: 1rem;
    text-align: center;
}
@media (min-width: 1200px) {
    #about-us .about-info .summary-info h2 {
        font-size: 18px;
        text-align: left;
        padding-top: 1.5rem;
    }
}

#about-us .clinic-info {
    display: flex;
    justify-content: space-between;
}

#about-us .clinic-info h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #2BAAEC;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
}
@media (min-width: 1200px) {
    #about-us .clinic-info h1 {
        font-size: 40px;
        text-align: left;
    }
}

#about-us .clinic-info h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    color: #363636
}
@media (min-width: 1200px) {
    #about-us .clinic-info h2 {
        font-size: 18px;
    }
}

#about-us .person-image-2 {
    display: none;
}
@media (min-width: 1200px) {
    #about-us .person-image-2 {
        display: block;
        padding-top: 1rem;
        margin-bottom: -8px;
    }
}
@media (min-width: 1400px) {
    #about-us .person-image-2 {
        display: block;
        margin-bottom: -7px;
    }
}






/* services */
#services {
    background: #f7f7f7;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}
@media (min-width: 1200px) {
    #services {
        padding-top: 10.125rem;
        padding-bottom: 9.375rem;
    }
}

@media (min-width: 1200px) {
    #services .container {
        padding: 0;
    }
}

#services .title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: normal;
    margin: 0.5rem;
    color: #363636;
    text-align: center;
}
@media (min-width: 1200px) {
    #services .title h1 {
        font-size: 40px;
    }
}

#services .menu {
    margin-top: 0.5rem;
}
@media (min-width: 1200px) {
    #services .menu {
        margin-top: 1rem;
        
    }
}

#services .service-box {
    background: #ffffff;
    border-radius: 0.75rem;
}

#services .service-box .wrapper {
    padding-top: 4.375rem;
}

#services .service-box  .tooth-set {
    padding-top: 1.6rem;
}

#services .service-box .icon-bg-tooth {
    margin: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #25E6C8;
}

#services .service-box .icon-bg-removal {
    margin: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #2BAAEC;
}

#services .service-box .icon-bg-tartar {
    margin: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #25E6C8;
}

#services .service-box .icon-bg-polish {
    margin: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #25E6C8;
}

#services .service-box .icon-bg-implants {
    margin: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #25E6C8;
}

#services .service-box .icon-bg-protection {
    margin: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #25E6C8;
}

#services .service-box h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: normal;
    color: #363636;
    margin-top: 2.9375rem;
    margin-bottom: 1.25rem;
}
@media (min-width: 1200px) {
    #services .service-box h2 {
        font-size: 22px;
    }
}

#services .service-box p {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    color: #626262
}
@media (min-width: 1200px) {
    #services .service-box p {
        font-size: 18px;
    }
}

#services .border {
    border: 2px solid #25E6C8;
    grid-area: ti;
    margin-bottom: 2rem;
}

#services .container .menu {
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
@media (min-width: 1200px) {
    #services .container .menu{
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.8rem;
    }
}
@media (min-width: 1200px) { 
    #services .container .menu { 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-areas:    "e ti r"
                                "b1 b2 b3"
                                "b4 b5 b6";
    }
}

#service-title {
    grid-area: ti;
}
#service-box-1 {
    grid-area: b1;
}
#service-box-2 {
    grid-area: b2;
}
#service-box-3 {
    grid-area: b3;
}
#service-box-4 {
    grid-area: b4;
}
#service-box-5 {
    grid-area: b5;
}
#service-box-6 {
    grid-area: b6;
}





/* appointment */
#appointment {
    background-color:#2BAAEC;
    opacity: 80%;
}

@media (min-width: 1200px) {
    #appointment .container {
        padding: 0;
    }
}

#appointment .info {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}
@media (min-width: 1200px) {
    #appointment .info {
        padding-bottom: 5%;
        display: flex;
        justify-content: space-between;
    }
}

#appointment .info h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}
@media (min-width: 1200px) {
    #appointment .info h1 {
        font-size: 30px;
    }
}

#appointment .book-btn:hover {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #2BAAEC;
}

#appointment .book-btn {
    font-size: 18px;
    font-weight: bold;
    color: #2BAAEC;
    height: 60px;
    width: 285px;
    border-radius: 0.75rem;
    border: 1px transparent;
    background-color: #FFFFFF;
    margin-top: 2rem;
}





/* footer */
#footer {
    background-color: #2BAAEC;
}

#footer .container {
    text-align: center;
}

#footer .copyright {
   color: #F3FBFF;
   opacity: 60%;
   padding-top: 2rem;
   padding-bottom: 1rem;
}